@model Lab7_LeChiCuong_2131200001.DTO.User.UserUpdationRequest

@{
    ViewData["Title"] = "Edit";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
	<label asp-for="Fullname" class="control-label"></label>
	<input asp-for="Fullname" class="form-control" />
	<span asp-validation-for="Fullname" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="Email" class="control-label"></label>
	<input asp-for="Email" class="form-control" />
	<span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="Password" class="control-label"></label>
	<input asp-for="Password" class="form-control" />
	<span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="Phone" class="control-label"></label>
	<input asp-for="Phone" class="form-control" />
	<span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="UserCode" class="control-label"></label>
	<input asp-for="UserCode" class="form-control" />
	<span asp-validation-for="UserCode" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="SelectedRoleIds"></label>
	<select asp-for="SelectedRoleIds" class="form-control" multiple="multiple" asp-items="ViewBag.Roles"></select>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
